/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace fs "flatspark.components.*";

/* included in flatspark*/
mx|Alert {
	skinClass: ClassReference("flatspark.skins.AlertSkin");
}
s|Button {
	skinClass: ClassReference("flatspark.skins.ButtonSkin");
}
fs|ButtonIcon {
	skinClass: ClassReference("flatspark.skins.ButtonIconSkin");
}
s|CheckBox {
	skinClass: ClassReference("flatspark.skins.CheckBoxSkin");
}
s|ComboBox {
	skinClass: ClassReference("flatspark.skins.ComboBoxSkin");
}
s|DropDownList {
	skinClass: ClassReference("flatspark.skins.DropDownListSkin");
}
s|Panel {
	skinClass: ClassReference("flatspark.skins.PanelSkin");
}
.progressBar {
	skinClass: ClassReference("flatspark.skins.ProgressBarSkin");
}
s|RadioButton {
	skinClass: ClassReference("flatspark.skins.RadioButtonSkin");
}
s|TextInput {
	skinClass: ClassReference("flatspark.skins.TextInputSkin");
}
fs|TextInputIcon {
	skinClass: ClassReference("flatspark.skins.TextInputIconSkin");
}
s|TitleWindow {
	skinClass: ClassReference("flatspark.skins.TitleWindowSkin");
}

/* additional */
s|TextArea {
	skinClass: ClassReference("assets.skins.FlatTextArea");
	borderColor: #BDC3C7;
}

