@CHARSET "UTF-8";

@import url("layout.css");

body {
  background-image: url('../images/background-burn.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

header {
  /*
  background-image: url('../images/background-film.jpg');
  background-color: #666;
  border-bottom: solid 1px #444;
  */
  text-align: center;
  padding-top: 32px;
  opacity: 0.8;
}

header #logo-container {
  margin: auto;
  /* background-color: #cb5b51; */
  background-color: #222;
  width: 100px;
  height: 100px;
  padding-top: 16px;
}

header #logo {
  color: #fff;
  font-size: 52pt;
}

main {

}

#download-options {
  background-color: rgba(0,0,0,0.4);
  border: solid 1px #222;
  border-radius: 4px;
  padding: 10px 0px 10px 0px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px 20px 15px 20px;
}

#download-options .row {
  margin-bottom: 10px;
}

#keep-original-lbl {
  font-weight: normal;
}

/* the dial label */
.dials-container .col-xs-3 {
  text-align: center;
}
/* the dial doesn't respond to text centering */
.dials-container .col-xs-3 div.c100 {
  margin-left: 30px;
}

#progress-container {
  margin-top: 12px;
}

.col-xs-3 label {
  width: 100%;
  text-align: right;
  margin-top: 7px;
  text-shadow: 1px 1px #000;
}

.mini-cb-container {
  padding-top: 7px;
}

.slider-container {
  padding-top: 7px;
}

#quality-slider {
  margin-left: 10px;
  margin-right: 10px;
}

#download-btn-container {
  margin-top: 20px;
  text-align: center;
}

/* switch control on dark background shows through a bit */
.bootstrap-switch {
  background-color: #fff;
}

.hide-ui {
  display: none;
}

#mp3-options {
  background-color: rgba(0,0,0,0.3);
  border: solid 1px #222;
  border-radius: 4px;
  padding: 10px 0px 10px 0px;
}

footer {
  background-color: rgba(255,255,255,0.1);
}

#footer-right {
  text-align: right;
}

#footer-right i  {
  font-size: 0.9em;
}

#footer-left, #footer-left *, #footer-right, #footer-right * {
  color: #888;
}

#output {
  border: solid 2px #ddd;
  padding: 10px;
  height: 100px;
  margin-bottom: 20px;
  overflow: scroll;
  border-radius: 4px;
  background-color: #ddd;
}
